img {
	display: block ;
	background-color: lightskyblue ;
	padding: 20px ; 
	border: 10px solid red ;
}
.A {
	margin: 0px;
}
.B {
	margin: 219px ;
	margin-top: 0% ;
	margin-bottom: 0% ;
}
.C {
	margin: 439px;
	margin-top: 0%;
}